/*Общие стили для страницы*/
html {
    font-family: "Century Gothic";
}

body {
    background-color: #f6f5f3;
}
* {
    box-sizing: border-box;
    cursor: default;
}

a, input, button {
    outline: none;
    box-shadow: none;
}

a:hover,
input:hover,
.standart-button:hover,
.header-Menu__item:hover {
    cursor: pointer;
}

input:focus {
    cursor: text;
}

.container {
    width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #fff;
}

.standart-button {
    border: 2px solid black;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    display: inline-block;
    transition-duration: 0.3s;
}

.standart-button:hover,
.header-Menu__item:hover {
    transition-duration: 0.3s;
    color: white;
    background-color: #ff7c19;
    opacity: 0.7;
}

.content-info-item__image,
.popup-window__caption,
.content-info-item__caption,
.content-header,
.content-info,
.content-registration__caption,
.signIn-content-window__caption {
    margin-bottom: 12px;
}

/*--------------------------------------------------------------*/

/*Стили для всплывающего окна*/

.popup {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-window {
    background-color: #fff;
    border: 2px solid gray;
    padding: 16px;
    position: relative;
    text-align: center;
}

.popup-window__caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.popup-window__info {
    padding: 0 8px;
}

.popup-window__clsBtn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .5;
}

.popup-window__clsBtn:hover {
    cursor: pointer;
    transition-duration: .3s;
    opacity: 1;
}

/*--------------------------------------------------------------*/

/*Стили для заголовка и меню*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    background-color: #f2f2f2;
}

.header-caption-logo {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 50px;
    height: 50px;
}

.header-caption {
    font-size: 24px;
    font-weight: bold;
    padding: 0 12px;
}

.header-Menu {
    display: flex;
}

.header-Menu__item {
    padding: 16px;
}

/*--------------------------------------------------------------*/

/*Стили для контента*/
.content {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.main-content {
    padding-top: 20px;
    text-align: center;
}
.content-header {
    font-size: 18px;
    font-weight: bold;
}

.content-info {
    display: flex;
}

.content-info-item {
    padding: 0 12px;
    width: 324px;
}

.content-info-item__caption {
    font-weight: 500;
    font-size: 16px;
}

.content-info-item__image {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    border: 3px solid #cccccc;
}

.content-info-item__description {
    font-size: 15px;
}