/*Общие стили для страницы*/
html {
    font-family: "Century Gothic";
}

body {
    background-color: #f6f5f3;
}

* {
    box-sizing: border-box;
    cursor: default;
}

a, input, button {
    outline: none;
    box-shadow: none;
}

a:hover,
input:hover,
.standart-button:hover,
.header-Menu__item:hover,
.header-Menu-burger,
.burger-menu-item:hover {
    cursor: pointer;
}

input:focus {
    cursor: text;
}

.container {
    width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
}

.standart-button {
    border: 2px solid black;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    display: inline-block;
    transition-duration: 0.3s;
}

.standart-button:hover,
.header-Menu__item:hover,
.burger-menu-item:hover {
    transition-duration: 0.3s;
    color: white;
    background-color: #ff7c19;
    opacity: 0.7;
}

.content-info-item__image,
.popup-window__caption,
.content-info-item__caption,
.content-header,
.content-info,
.content-registration__caption,
.signIn-content-window__caption {
    margin-bottom: 12px;
}

/*--------------------------------------------------------------*/

/*Стили для всплывающего окна*/

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.popup-window {
    background-color: #fff;
    border: 2px solid gray;
    padding: 16px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.popup-window__caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.popup-window__info {
    padding: 0 8px;
}

/*--------------------------------------------------------------*/

/*Стили для заголовка и меню*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    background-color: #f2f2f2;
}

.header-caption-logo {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 50px;
    height: 50px;
}

.header-caption {
    font-size: 24px;
    font-weight: bold;
    padding: 0 12px;
}

.header-Menu {
    display: flex;
}

.header-Menu__item {
    padding: 16px;
}

.header-Menu-burger {
    display: none;
    width: 50px;
}

.burger-menu-slice {
    width: 80%;
    background-color: black;
    border: 2px solid black;
    margin: 6px auto;
}

.burger-menu {
    display: none;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    background-color: #f2f2f2;
}

.header-Menu-burger.menu-opened {
    transform: rotate(90deg);
}

.burger-menu-item  {
    padding: 16px;
    width: 33%;
    text-align: center;
}

/*--------------------------------------------------------------*/

/*Стили для контента*/
.content {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.main-content {
    padding-top: 20px;
    text-align: center;
}

.content-header {
    font-size: 18px;
    font-weight: bold;
}

.content-info {
    display: flex;
}

.content-info-item {
    padding: 0 12px;
    width: 324px;
}

.content-info-item__caption {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.content-info-item__image {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    border: 3px solid #cccccc;
}

.content-info-item__description {
    font-size: 15px;
}

/*Адаптив*/

@media (max-width: 1460px) {
    .container {
        width: auto;
    }

    .content {
        flex-direction: column-reverse;
        padding: 0;
    }

    .content-info {
        justify-content: center;
    }

    .signIn-content-window {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (max-width: 940px) {
    .content-info-item:nth-child(3) {
        display: none;
    }
}

@media (max-width: 893px) {
    .content-info-item:not(:first-child) {
        display: none;
    }
}

@media (max-width: 690px) {
    .header-Menu {
        display: none;
    }
    .header-Menu-burger {
        display: block;
    }
    .burger-menu.menu-opened {
        display: flex;
    }

}

@media (max-width: 450px) {
    .signIn-content-window {
        min-width: 100% !important;
    }
    .burger-menu-item {
        font-size: 13px;
    }
}