/*Стили для окошка регистрации и входа*/

.signIn-content {
    padding-top: 20px;
}

.signIn-content-window {
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 12px 8px;
    min-width: 400px;
}

.signIn-content-window__caption {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.registration-popup-window {
    min-width: 400px;
}

.registration-popup-inputString,
.signIn-content-window-inputItem {
    position: relative;
    margin-bottom: 8px;
}

.registration-popup-inputString__caption,
.signIn-content-window-inputItem__caption {
    position: absolute;
    font-size: 12px;
    background: white;
    left: 10%;
    top: -25%;
    padding: 0 3px;
}

.registration-popup-input,
.signIn-content-window-input {
    width: 100%;
    padding: 6px 3px;
    font-size: 14px;
}

.registration-popup-button {
    margin: 0 auto;
}

/*--------------------------------------------------------------*/

/*Дополнительные стили для контента*/

.content-registration__caption {
    font-size: 17px;
    font-weight: bold;
}

.main-content {
    padding-top: 20px;
    text-align: center;
}

.content-header {
    font-size: 18px;
    font-weight: bold;
    padding: 0 12px;
}

.content-info {
    display: flex;
}

.content-info-item {
    padding: 0 12px;
    width: 324px;
}

.content-info-item__caption {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.content-info-item__image {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    border: 3px solid #cccccc;
}

.content-info-item__description {
    font-size: 15px;
}

/*--------------------------------------------------------------*/

/*Адаптив*/

@media (max-width: 1460px) {
    .content-info {
        justify-content: center;
    }
    .signIn-content-window {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (max-width: 970px) {
    .signIn-content-window {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 940px) {
    .content-info-item:nth-child(3) {
        display: none;
    }
}

@media (max-width: 660px) {
    .content-info-item:not(:first-child) {
        display: none;
    }
}



