/*Цвета*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
a,
input,
button {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  outline: none;
}
ul,
ol {
  list-style: none;
}
html,
body,
.wrapper {
  height: 100%;
}
.container {
  padding: 0 10%;
  min-height: 100%;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: blue;
  text-align: center;
  border-bottom: 2px solid black;
}
.container .header-logo {
  width: 25%;
}
.container .header-title {
  font-size: 2rem;
  font-weight: bold;
  width: 50%;
}
.container .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
}
.container .header-menu-item {
  width: calc(33.33333333%);
  padding: 25px;
}
.container .header-menu-item:hover {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  background-color: white;
}
.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container .content-item {
  padding: 20px;
  width: 25%;
}
.container .footer {
  padding: 20px;
  background-color: black;
}
