.validation-error {
    box-shadow: 0 0 5px 0 red inset;
}

.validation-error:focus {
    background-color: rgba(255, 0, 0, .1);
}

.validate-place {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
}
.errorWindow {
    padding: 12px;
    font-size: 16px;
    border: 3px solid red;
    background-color: white;
    margin-bottom: 12px;
    z-index: 100;
}

.infoWindow {
    padding: 12px;
    font-size: 16px;
    border: 3px solid wheat;
    background-color: white;
    margin-bottom: 12px;
    z-index: 100;
}