.validation-error {
    box-shadow: 0 0 5px 0 red inset;
}

.validation-error:focus {
    background-color: rgba(255, 0, 0, .1);
}

.validateWindow {
    padding: 12px;
    font-size: 16px;
    border: 3px solid red;
    display: none;
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: white;
}