<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link rel="stylesheet" href="/css/appStyles.css">
    <title>Ежедневная готовка</title>
</head>
<body data-component="App" data-name="MainApp">

<div class="container">
    <div class="header">
        <div class="header-caption-logo">
            <div class="header-caption">Ежедневная готовка</div>
            <a href="/index.html"><img src="/images/logo.png" alt="" class="header-logo"></a>
            <div class="header-hint hidden" data-component="Caption" data-name="headerHint">
                <div class="header-hint-triangle"></div>
            </div>
        </div>
        <div class="header-Menu">
            <button class="header-Menu__item" data-id="0" data-component="MenuButton" data-name="menuStandartAbout"
                    data-popup-name="MainPopup">О программе
            </button>
            <button class="header-Menu__item" data-id="1" data-component="MenuButton" data-name="menuStandartHelp"
                    data-popup-name="MainPopup">Справка
            </button>
            <button class="header-Menu__item" data-id="2" data-component="MenuButton" data-name="menuStandartAuthor"
                    data-popup-name="MainPopup">Авторство
            </button>
        </div>
        <button class="header-Menu-burger" data-component="Button" data-name="BurgerMenuButton">
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
        </button>
    </div>
    <div class="burger-menu hidden">
        <button class="burger-menu-item" data-id="0" data-component="MenuButton" data-name="menuBurgerAbout"
                data-popup-name="MainPopup">О программе
        </button>
        <button class="burger-menu-item" data-id="1" data-component="MenuButton" data-name="menuBurgerHelp"
                data-popup-name="MainPopup">Справка
        </button>
        <button class="burger-menu-item" data-id="2" data-component="MenuButton" data-name="menuBurgerAuthor"
                data-popup-name="MainPopup">Авторство
        </button>
    </div>
    <div class="appWindow hidden">
        <div class="appWindow-recipeheader" data-component="Caption" data-name="appRecipeHeader"></div>
        <div class="appWindow-content">
            <div class="appWindow-stepsContent">
            </div>
        </div>
        <div class="appWindow-toolBar">
            <button class="appWindow-mainActionButton standart-button" data-component="Button"
                    data-name="appButton">
            </button>
            <div class="appWindow-timer" data-component="Timer" data-name="appTimer">00:00</div>
        </div>
    </div>
    <div class="content">
        <div class="app-header" data-component="Caption" data-name="recipeHeader">Рецепты первого уровня</div>
        <div class="app-recipes">
        </div>
        <button class="app-startButton standart-button" data-component="Button" data-name="startButton">Начать
        </button>
    </div>
    <div class="footer">
        <div class="profile">
            <a href="profile.html"><img class="profile-img"/></a>
            <div class="profile-info">
                <div class="profile-name"></div>
                <div class="profile-level"></div>
                <div class="profile-level-bar loading-bar" data-component="ProgressBar" data-name="profileProgressBar">
                    <div class="profile-level-bar-fill"></div>
                    <div class="profile-level-bar-percents">0%</div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="popup" data-component="Popup" data-name="MainPopup">
    <div class="popup-window">
        <div class="popup-window__caption"></div>
        <div class="popup-window__info"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations-next-lite.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="/js/serverListener.js"></script>
<script src="/js/appServerListener.js"></script>
</body>
</html>