<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="../src/css/mainStyles.css">
    <link rel="stylesheet" href="../src/css/appStyles.css">
    <title>Ежедневная готовка</title>
</head>
<body data-component="App" data-name="MainApp">

<div class="container">
    <div class="header">
        <div class="header-caption-logo">
            <div class="header-caption">Ежедневная готовка</div>
            <a href="index.html"><img src="../src/images/logo.png" alt="" class="header-logo"></a>
            <div class="header-hint" data-component="Caption" data-name="headerHint">
                <div class="header-hint-triangle"></div>
                Чтобы посмотреть меню в мобильном режиме нажмите на бургер :)
            </div>
        </div>
        <div class="header-Menu">
            <button class="header-Menu__item" data-id="0" data-component="MenuButton" data-name="menuStandartAbout"
                    data-popup-name="MainPopup">О программе
            </button>
            <button class="header-Menu__item" data-id="1" data-component="MenuButton" data-name="menuStandartHelp"
                    data-popup-name="MainPopup">Справка
            </button>
            <button class="header-Menu__item" data-id="2" data-component="MenuButton" data-name="menuStandartAuthor"
                    data-popup-name="MainPopup">Авторство
            </button>
        </div>
        <button class="header-Menu-burger" data-component="Button" data-name="BurgerMenuButton">
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
        </button>
    </div>
    <div class="burger-menu hidden">
        <button class="burger-menu-item" data-id="0" data-component="MenuButton" data-name="menuBurgerAbout"
                data-popup-name="MainPopup">О программе
        </button>
        <button class="burger-menu-item" data-id="1" data-component="MenuButton" data-name="menuBurgerHelp"
                data-popup-name="MainPopup">Справка
        </button>
        <button class="burger-menu-item" data-id="2" data-component="MenuButton" data-name="menuBurgerAuthor"
                data-popup-name="MainPopup">Авторство
        </button>
    </div>
    <div class="appWindow hidden">
        <div class="appWindow-recipeheader" data-component="Caption" data-name="appRecipeHeader"></div>
        <div class="appWindow-content">
            <div class="appWindow-stepsContent">
            </div>
        </div>
        <div class="appWindow-toolBar">
            <button class="appWindow-mainActionButton standart-button" data-component="Button"
                    data-name="appButton">
            </button>
            <div class="appWindow-timer" data-component="Timer" data-name="appTimer">00:00</div>
        </div>
    </div>
    <div class="content">
        <div class="app-header" data-component="Caption" data-name="recipeHeader">Рецепты первого уровня</div>
        <div class="app-recipes">
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt="" class="app-recipe"
                                                data-component="Button" data-name="Button-1" data-exp="200"
                                                data-recipe-name="Пельмени">
                <div class="app-recipe-caption">Пельмени</div>
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt="" class="app-recipe"
                                                data-component="Button" data-name="Button0" data-exp="200"
                                                data-recipe-name="Пельмени">
                <div class="app-recipe-caption">Пельмени</div>
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button1" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button2" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button3" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button4" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button5" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button6" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button7" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button8" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button9" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button10" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button11" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button12" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button13" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button14" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button15" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button16" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button17" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button18" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button19" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button20" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button21" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button22" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button23" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button24" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button25" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <div class="app-recipes-block"><img src="../src/images/пельмени.jpg" alt=""
                                                class="app-recipe app-recipe-caption" data-component="Button"
                                                data-name="Button26" data-exp="200" data-recipe-name="Пельмени">Пельмени
            </div>
            <button class="app-startButton standart-button" data-component="Button" data-name="startButton">Начать
            </button>
        </div>
    </div>
    <div class="footer">
        <div class="profile">
            <a href="profile.html"><img src="../src/images/skillCook.jpg" class="profile-img"/></a>
            <div class="profile-info">
                <div class="profile-name">Вадим Волоцкой</div>
                <div class="profile-level">24 уровень</div>
                <div class="profile-level-bar" data-component="ProgressBar" data-name="profileProgressBar">
                    <div class="profile-level-bar-fill"></div>
                    <div class="profile-level-bar-percents">99.5%</div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="popup" data-component="Popup" data-name="MainPopup">
    <div class="popup-window">
        <div class="popup-window__caption"></div>
        <div class="popup-window__info"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations-next-lite.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="../src/js/instances.js"></script>
<script src="../src/js/validates.js"></script>
<script src="../src/js/components.js"></script>
<script src="../src/js/Core-Init.js"></script>
<script src="../src/js/popupsMixin.js"></script>
<script src="../src/js/mainHandlers.js"></script>
<script src="../src/js/logics.js"></script>
<script src="../src/js/appHandlers.js"></script>
</body>
</html>