<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Демо страничка пользователя</title>
    <link rel="stylesheet" href="../src/css/core.css">
    <link rel="stylesheet" href="../src/Controls/UserPage/UserPage.css">
</head>
<body>
<div data-component="App" name="UserPage">
    <div data-component="UserPage" name="CustomUserPage" enabled="false">
        <div class="header">
            <div class="header-caption">Страница пользователя</div>
            <component data-component="Button" name="ToggleButton" className="controls-LinkButton controls-gray" caption="Сохранить"></component>
        </div>
        <div class="content">
            <img src="https://pp.userapi.com/c631327/v631327566/3ddab/DGf4UX4IdLs.jpg" alt="" class="content-userImage">
            <div class="content-info">
                <div class="content-info-block">
                    <span class="content-info-block-label">Имя</span>
                    <component data-component="TextBox" name="NameTextBox" placeholder="Введите имя" value="Вадим" enabled="false"></component>
                </div>
                <div class="content-info-block">
                    <span class="content-info-block-label">Фамилия</span>
                    <component data-component="TextBox" name="SurnameTextBox" placeholder="Введите фамилию" value="Волоцкой" enabled="false"></component>
                </div>
                <div class="content-info-block">
                    <span class="content-info-block-label">Возраст</span>
                    <component data-component="NumberBox" name="AgeTextBox" placeholder="Введите возраст" value="20" enabled="false"></component>
                </div>
                <component data-component="ListView" name="MyListView"></component>
                <div name="BlackBox"></div>
            </div>
        </div>
    </div>
</div>
<script src="../src/Controls/Controls.js"></script>
<script src="../src/Controls/UserPage/UserPage.js"></script>
<script>Core.initApp()</script>
</body>
</html>
