<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Приложение</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link rel="stylesheet" href="/css/registryStyles.css">
    <link rel="stylesheet" href="/css/validationStyles.css">
</head>
<body data-component="App" data-name="registryApp">
<div class="container">
    <div class="header">
        <div class="header-caption-logo">
            <div class="header-caption">Ежедневная готовка</div>
            <a href="/index.html"><img src="/images/logo.png" alt="" class="header-logo"></a>
            <div class="header-hint" data-component="Caption" data-name="headerHint">
                <div class="header-hint-triangle"></div>
            </div>
        </div>
        <div class="header-Menu">
            <button class="header-Menu__item" data-id="0" data-component="MenuButton" data-name="menuStandartAbout"
                    data-popup-name="MainPopup">О программе
            </button>
            <button class="header-Menu__item" data-id="1" data-component="MenuButton" data-name="menuStandartHelp"
                    data-popup-name="MainPopup">Справка
            </button>
            <button class="header-Menu__item" data-id="2" data-component="MenuButton" data-name="menuStandartAuthor"
                    data-popup-name="MainPopup">Авторство
            </button>
        </div>
        <button class="header-Menu-burger" data-component="Button" data-name="BurgerMenuButton">
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
        </button>
    </div>
    <div class="burger-menu hidden">
        <button class="burger-menu-item" data-id="0" data-component="MenuButton" data-name="menuBurgerAbout"
                data-popup-name="MainPopup">О программе
        </button>
        <button class="burger-menu-item" data-id="1" data-component="MenuButton" data-name="menuBurgerHelp"
                data-popup-name="MainPopup">Справка
        </button>
        <button class="burger-menu-item" data-id="2" data-component="MenuButton" data-name="menuBurgerAuthor"
                data-popup-name="MainPopup">Авторство
        </button>
    </div>
    <div class="content">
        <div class="main-content">
            <div class="content-header">Не умеете готовить? Это больше не проблема, так как в нашем приложении вы:</div>
            <div class="content-info">
                <div class="content-info-item">
                    <div class="content-info-item__caption">Научитесь готовить</div>
                    <img src="/images/startCook.jpg" alt="" class="content-info-item__image">
                    <div class="content-info-item__description">
                        Это приложение позволит вам научиться готовить абсолютно любые блюда!
                    </div>
                </div>
                <div class="content-info-item">
                    <div class="content-info-item__caption">Выучите много новых рецептов</div>
                    <img src="/images/manyRecepts.jpg" alt="" class="content-info-item__image">
                    <div class="content-info-item__description">
                        Большая база рецептов от азов до профессиональной кулинарии!
                    </div>
                </div>
                <div class="content-info-item">
                    <div class="content-info-item__caption">Повысите свои навыки готовки</div>
                    <img src="/images/skillCook.jpg" alt="" class="content-info-item__image">
                    <div class="content-info-item__description">
                        Если вы уже умеете готовить, то всегда сможете научиться здесь чему то новому!
                    </div>
                </div>
            </div>
            <div class="content-registration">
                <div class="content-registration__caption">Заинтересовало? Регистрируйся по кнопке ниже!</div>
                <button class="standart-button registrate-button" data-component="Button" data-name="registrateButton"
                        data-popup-name="RegistratePopup">Зарегистрироваться
                </button>
            </div>
        </div>
        <div class="signIn-content">
            <div class="signIn-content-window" data-component="Form" data-name="SignInForm">
                <div class="signIn-content-window__caption">Вход в систему</div>
                <div class="signIn-content-window-inputItem"><span
                        class="signIn-content-window-inputItem__caption">Имя пользователя</span>
                    <input type="text"
                           class="signIn-content-window-input"
                           data-component="Input"
                           data-name="SignInUserName"
                           data-regExp="/^[a-zA-Z0-9]+$/"
                           data-error="Некорректный никнейм"
                    >
                </div>
                <div class="signIn-content-window-inputItem"><span
                        class="signIn-content-window-inputItem__caption">Пароль</span>
                    <input type="password" class="signIn-content-window-input"
                           data-component="Input"
                           data-name="SignInPassword"
                           data-regExp="/^[a-zA-Z0-9]+$/"
                           data-error="Некорректный пароль"
                    >
                </div>
                <button class="standart-button signInButton submit-button" data-name="SignInButton">Войти в систему
                </button>
            </div>
        </div>
    </div>
    <div class="validate-place">

    </div>
</div>
<div class="popup" data-component="Popup" data-name="MainPopup">
    <div class="popup-window">
        <div class="popup-window__caption"></div>
        <div class="popup-window__info"></div>
    </div>
</div>
<div class="popup registration-popup" data-component="Popup" data-name="RegistratePopup">
    <div class="popup-window registration-popup-window" data-component="Form" data-name="RegistrationForm">
        <div class="popup-window__caption registration-popup-window-caption">Регистрация</div>
        <div class="registration-popup-inputString"><span
                class="registration-popup-inputString__caption">Никнейм:</span>
            <input type="text"
                   data-component="Input"
                   data-name="NicknameReg"
                   data-error="Некорректный никнейм"
                   class="registration-popup-input"
                   data-regExp="/^[a-zA-Z0-9]+$/"
            >
        </div>
        <div class="registration-popup-inputString"><span
                class="registration-popup-inputString__caption">Пароль:</span>
            <input type="password"
                   class="registration-popup-input"
                   data-component="Input"
                   data-error="Некорректный пароль"
                   data-name="PassReg"
                   data-regExp="/^[a-zA-Z0-9]+$/"
            >
        </div>
        <div class="registration-popup-inputString"><span
                class="registration-popup-inputString__caption">Имя пользователя:</span>
            <input type="text"
                   class="registration-popup-input"
                   data-component="Input"
                   data-error="Некорректное имя пользователя"
                   data-name="UsernameReg"
                   data-regExp="/^[a-zA-Z0-9]+$/"
            >
        </div>
        <div class="standart-button registration-popup-button submit-button" data-component
             data-name="submit-reg-button">Принять
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="/js/serverListener.js"></script>
<script src="/js/registrationServerListener.js"></script>
<script src="/js/instances.js"></script>
<script src="/js/validates.js"></script>
<script src="/js/components.js"></script>
<script src="/js/Core-Init.js"></script>
<script src="/js/popupsMixin.js"></script>
<script src="/js/mainHandlers.js"></script>
<script src="/js/registrationHandlers.js"></script>
</body>
</html>