<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../src/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <title>Document</title>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="header">
            <div class="header-logo">Картинка</div>
            <div class="header-title">DailyCooking</div>
            <div class="header-menu">
               <div class="header-menu-item">123</div>
                <div class="header-menu-item">123</div>
                <div class="header-menu-item">123</div>
            </div>
        </div>
        <div class="content">
            <div class="content-item">
                <img src="" alt="" class="content-item-img">
                <div class="content-item-caption">123</div>
            </div>
            <div class="content-item">
                <img src="" alt="" class="content-item-img">
                <div class="content-item-caption">123</div>
            </div>
            <div class="content-item">
                <img src="" alt="" class="content-item-img">
                <div class="content-item-caption">123</div>
            </div>
            <div class="content-item">
                <img src="" alt="" class="content-item-img">
                <div class="content-item-caption">123</div>
            </div>
            <div class="content-item">
                <img src="" alt="" class="content-item-img">
                <div class="content-item-caption">123</div>
            </div>
            <div class="content-item">
                <img src="" alt="" class="content-item-img">
                <div class="content-item-caption">123</div>
            </div>
        </div>
        <div class="footer">Footer</div>
    </div>
</div>
    <script src="../src/js/scripts.js"></script>
</body>
</html>