<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link rel="stylesheet" href="/css/profileStyles.css">
    <title>Профиль</title>
</head>
<body data-component="App" data-name="profileApp">

<div class="container">
    <div class="header">
        <div class="header-caption-logo">
            <div class="header-caption">Ежедневная готовка</div>
            <a href="app.html"><img src="/images/logo.png" alt="" class="header-logo"></a>
            <div class="header-hint hidden" data-component="Caption" data-name="headerHint">
                <div class="header-hint-triangle"></div>
            </div>
        </div>
        <div class="header-Menu">
            <button class="header-Menu__item" data-id="0" data-component="MenuButton" data-name="menuStandartAbout"
                    data-popup-name="MainPopup">О программе
            </button>
            <button class="header-Menu__item" data-id="1" data-component="MenuButton" data-name="menuStandartHelp"
                    data-popup-name="MainPopup">Справка
            </button>
            <button class="header-Menu__item" data-id="2" data-component="MenuButton" data-name="menuStandartAuthor"
                    data-popup-name="MainPopup">Авторство
            </button>
        </div>
        <button class="header-Menu-burger" data-component="Button" data-name="BurgerMenuButton">
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
            <div class="burger-menu-slice"></div>
        </button>
    </div>
    <div class="burger-menu hidden">
        <button class="burger-menu-item" data-id="0" data-component="MenuButton" data-name="menuBurgerAbout"
                data-popup-name="MainPopup">О программе
        </button>
        <button class="burger-menu-item" data-id="1" data-component="MenuButton" data-name="menuBurgerHelp"
                data-popup-name="MainPopup">Справка
        </button>
        <button class="burger-menu-item" data-id="2" data-component="MenuButton" data-name="menuBurgerAuthor"
                data-popup-name="MainPopup">Авторство
        </button>
    </div>
    <div class="content">
        <div class="profile-card">
            <img alt="" class="profile-card-photo">
            <div class="profile-card-info">
                <div class="profile-card-info-block">
                    <div class="profile-card-info-block-caption">Никнейм:</div>
                    <div class="profile-card-info-block-content profile-nickname"></div>
                </div>
                <div class="profile-card-info-block">
                    <div class="profile-card-info-block-caption">Имя пользователя:</div>
                    <div class="profile-card-info-block-content profile-username"></div>
                </div>
                <div class="profile-card-info-block">
                    <div class="profile-card-info-block-caption">Уровень:</div>
                    <div class="profile-card-info-block-content profile-level"></div>
                </div>
            </div>
        </div>
        <div class="profile-recipes">
            <div class="profile-recipes-header">Выученные рецепты</div>
            <div class="profile-recipes-content">
            </div>
        </div>
        <div class="profile-achievements">
            <div class="profile-achievements-header">Достижения</div>
            <div class="profile-achievements-content">
            </div>
        </div>
    </div>
    <div class="popup" data-component="Popup" data-name="MainPopup">
        <div class="popup-window">
            <div class="popup-window__caption"></div>
            <div class="popup-window__info"></div>
        </div>
    </div>
    <div class="popup recipe-popup">
        <div class="popup-window recipe-popup-window">
            <div class="popup-window__caption recipe-popup-window__caption">Рецепт</div>
            <div class="popup-window__info recipe-popup-window__info">
                <img src="/images/startCook.jpg" alt="" class="recipe-popup-window-img">
                <div class="recipe-popup-window-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquid, animi atque cum deserunt dolores eius est exercitationem neque quae quas quasi ratione
                    similique suscipit ullam, vero? Blanditiis, commodi cumque debitis deleniti doloremque ea
                    exercitationem magnam natus perferendis, qui, quidem ratione repudiandae voluptatibus! Minus nam
                    natus pariatur sint! Deserunt, laborum, modi.
                </div>
            </div>
        </div>
    </div>

    <div class="popup achievment-popup">
        <div class="popup-window achievment-popup-window">
            <div class="popup-window__caption achievment-popup-window__caption"></div>
            <div class="popup-window__info achievment-popup-window__info"></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="/js/serverListener.js"></script>
    <script src="/js/profileServerListener.js"></script>
    <script src="/js/instances.js"></script>
    <script src="/js/validates.js"></script>
    <script src="/js/components.js"></script>
    <script src="/js/Core-Init.js"></script>
    <script src="/js/popupsMixin.js"></script>
    <script src="/js/mainHandlers.js"></script>
</body>
</html>