<!DOCTYPE html>
<html>

<head>
    <title>Daily Cooking</title>
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
    <meta charset="utf-8">
</head>

<body>
	<main>
    <div class="container-fluid">
        <div class="row" style="height: 100px">
            <div class="appHeader">
                <div class=" col-lg-4">
                    <div class="logo">
                        <img class="logo-image" src="../public/img/logo.png" alt="Логотип">
                        <h1 class="logo-header">Daily Cooking</h1>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-4 ">
                    <ul class="menu">
                        <li>Готовка</li>
                        <li>Справка</li>
                        <li>Выйти</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="content">
                <div class="col-lg-3">
                    <div class="content-recepts">
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/plov.png" alt="">
                            <h4 class="recept-header">Плов</h4>
                        </div>
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/borsh.png" alt="">
                            <h4 class="recept-header">Борщ</h4>
                        </div>
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/olivie.png" alt="">
                            <h4 class="recept-header">Оливье</h4>
                        </div>
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/blini.png" alt="">
                            <h4 class="recept-header">Блины</h4>
                        </div>
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/blini.png" alt="">
                            <h4 class="recept-header">Блины</h4>
                        </div>
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/blini.png" alt="">
                            <h4 class="recept-header">Блины</h4>
                        </div>
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/blini.png" alt="">
                            <h4 class="recept-header">Блины</h4>
                        </div>
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/blini.png" alt="">
                            <h4 class="recept-header">Блины</h4>
                        </div>
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/blini.png" alt="">
                            <h4 class="recept-header">Блины</h4>
                        </div>
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/blini.png" alt="">
                            <h4 class="recept-header">Блины</h4>
                        </div>
                        <div class="content-recepts-item">
                            <img src="../public/img/recepts-images/blini.png" alt="">
                            <h4 class="recept-header">Блины</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="readytocook">
                        <h4 class="recept-name" id="recept-name">Плов</h4>
                        <button class="btn btn-info" id="startCooking">Начать готовку</button>
                    </div>
                    <div class="content-receptinfo">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis atque sequi unde eum nobis dolorem reprehenderit sunt, est corrupti itaque delectus tempora labore corporis nihil rerum obcaecati excepturi, minima consectetur repellendus! Repellat magni incidunt quia commodi architecto amet eligendi voluptatem nostrum ab, aliquam, fuga provident non alias accusantium corrupti ullam?</p>
                      <p>Enim animi, maiores consequuntur! Commodi itaque repudiandae praesentium tempora recusandae omnis architecto nulla culpa aliquid, repellendus odit magni ipsum, quod ipsa? Officia reprehenderit molestias doloribus deserunt rem doloremque, quis perspiciatis vel odio impedit itaque laborum eveniet quasi, consequatur autem cumque vero recusandae voluptates et! Harum praesentium nemo, deleniti dolores quam.</p>
                      <p>Et, saepe. Blanditiis quaerat autem dolores aut id itaque, magnam recusandae sint architecto eveniet nostrum assumenda ipsa error consequuntur cum aperiam tempore? Mollitia eos sint dolor odit commodi voluptates distinctio magnam ipsum possimus, dolores, recusandae sed totam, voluptatibus. Voluptatibus minus aut quam ratione ducimus, eius labore perferendis voluptate quae autem!</p>
                      <p>Aspernatur est eveniet numquam accusantium dicta error, voluptate nesciunt culpa. Sint commodi nesciunt veritatis ratione magnam veniam. Nesciunt ad cupiditate, corrupti distinctio exercitationem velit obcaecati, necessitatibus omnis eos quos itaque facere voluptatum accusamus explicabo, atque minus aut tempore quibusdam pariatur aspernatur minima deserunt. Aspernatur corporis dolorum, facere obcaecati iste aliquam.</p>
                      <p>Temporibus et quaerat repellat enim excepturi sint, error perferendis, veritatis sed! Aspernatur illum officia quis, amet voluptas quidem libero. Voluptatum nostrum, sit repellendus excepturi praesentium explicabo dolorem unde rem exercitationem asperiores. Laudantium quas laboriosam quisquam incidunt consequatur molestiae quo labore repellendus. Sunt cum amet, nesciunt laudantium obcaecati maiores iusto commodi?</p>
                      <p>Veritatis cumque ipsam, iure hic et ex sed voluptatibus beatae deserunt doloremque quas sit mollitia eius suscipit quos sequi recusandae quod nisi ratione ipsum culpa, aut, consectetur eligendi! Nemo quia excepturi facilis ratione, voluptatum, quisquam unde voluptas assumenda labore enim optio placeat repellat expedita veritatis accusantium perspiciatis deleniti dicta eaque!</p>
                      <p>Quia velit explicabo, laborum illum, illo enim obcaecati, facilis quibusdam aspernatur ab asperiores harum fugit! Nihil mollitia ex doloremque debitis totam, incidunt cum laboriosam laborum enim inventore consequuntur aperiam ad, porro nesciunt hic fugiat quod. Ipsum vero deserunt nemo saepe quidem illum, facilis, eligendi debitis earum quisquam, error ea rerum!</p>
                      <p>Exercitationem, delectus. Aperiam sit rerum nam perferendis impedit quam ipsum similique ea cupiditate ad laudantium iure quidem possimus, dolore in. Vel quibusdam accusantium unde beatae ab ipsam, eum tenetur, officiis animi pariatur quam. Magni minus harum doloribus, numquam voluptate necessitatibus veniam eligendi molestias, natus excepturi, corporis, doloremque facere maxime. Minima!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        	<div class="user-profile">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="profile">
                    	<img src="../public/img/profile-images/Вадим.jpg" alt="Вадим" class="profile-img">
                    	<div class="profile-info">
                    		<div class="profile-info-name">
                    			Вадим
                    		</div>
                    		
                    		<div class="profile-info-level">
                    			Новичок
                    		</div>

                    		<div class="progress">
                    			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    		</div>
                    	</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
	</main>
    <div class="popup">
    	<div class="popup-registration">
    		<div class="form-inputs"><span></span><input type="text"></div>
    		<div class="form-inputs"><span></span><input type="text"></div>
    	</div>
    </div>
    <div class="popup"></div>
    <div class="popup"></div>
    <script src="../public/js/jquery-3.2.1.min.js"></script>
    <script src="../public/js/bootstrap.js"></script>
    <script src="../public/js/scripts.js"></script>
</body>

</html>